# Tratamento dos dados relacionados às vacinas aplicadas pelo SUS de Hepatite A e Hepatite B

# Importações dos pacotes

In [1]:
import pandas as pd
from funcoes import limpa_vacinas_dados

# Dados

[cobertura_vacina_hep.csv](https://github.com/Pedro-correa-almeida/projeto_um_mal_silencioso/blob/main/dados_brutos/cobertura_vacina_hep.csv) : dados relacionados à cobertura das vacinas contra Hepatite B e Hepatite A, a fórmula de cálculo da cobertura é o número de doses aplicadas da dose indicada (1ª, 2ª, 3ª dose ou dose única, conforme a vacina) dividida pela população alvo, multiplicado por 100.

[vacina_hepatite.csv](https://github.com/Pedro-correa-almeida/projeto_um_mal_silencioso/blob/main/dados_brutos/vacina_hepatite.csv) : dados relacionados aos totais de doses aplicadas das vacinas contra Hepatite B e Hepatite A

# Leitura dos dados

In [2]:
#Lendo os dados da cobertura das vacinas HB e HA
vacinas_cobertura = pd.read_csv('../dados_brutos/cobertura_vacina_hep.csv', sep=';', na_values=0, usecols=[0,1,2], decimal=',')

#Lendo os dados relacionados às doses aplicadas das vacinas HB e HA
vacinas_doses = pd.read_csv('../dados_brutos/vacinas_hepatite.csv', sep=';', usecols=[0,1,2,3,4,5], encoding= 'latin-1')

# Funções

In [3]:
help(limpa_vacinas_dados)

Help on function limpa_vacinas_dados in module funcoes:

limpa_vacinas_dados(dados: pandas.core.frame.DataFrame, nome_valores: str)
    Função que recebe o DataFrame relacionado às vacinas aplicadas de hepatite podendo ser sobre cobertura de vacinação ou doses aplicadas realiza algumas transformações:

        Retira as linhas que se referem aos dados totais e aos dados mais recentes de 2021 pois o ano ainda não acabou
        Retira a palavra 'Hepatite' antes do nome das colunas
        Renomeia a coluna Óbitos por virus
        Transforma as colunas relacionadas à virus em apenas uma coluna('virus') e atribui o 'nome_valores' como nome da coluna com os valores numéricos

    Parâmetros:

        dados : DataFrame onde estão os dados sobre vacinação da hepatite, tipo : pd.DataFrame
        nome_valores : o nome que a coluna com os valores numéricos vai se referir, podendo ser 'Cobertura' ou 'Doses_aplicadas' por exemplo, tipo : str

    Retorno :

        dados : retorna um Dataframe com os dados sobre vacinação da hepatite, tipo : pd.DataFrame

# Tratando os dados

In [4]:
vacinas_doses.head()

,Ano,Hepatite A (HA),Hepatite B (HB),Hepatite B não soroconversão,Hexavalente (HX),Pentavalente (DTP+HB+Hib) (PENTA)
0,1994,0,2297035,0,0,0
1,1995,0,2521993,0,0,0
2,1996,0,2989325,0,0,0
3,1997,0,2002570,0,0,0
4,1998,0,8747762,0,0,0

Primeira coisa que irei fazer é somar todas as vacinas que protegem contra Hepatite B(Hepatite B (HB), Hepatite B não soroconversão, Hexavalente (HX) e Pentavalente (DTP+HB+Hib) (PENTA))

In [5]:
#Somando as vacinas
vacinas_doses['Hepatite B (HB)'] = vacinas_doses['Hepatite B (HB)'] + vacinas_doses['Hepatite B não soroconversão'] + vacinas_doses['Hexavalente (HX)'] + vacinas_doses['Pentavalente (DTP+HB+Hib) (PENTA)'] 
vacinas_doses = vacinas_doses[['Ano', 'Hepatite A (HA)', 'Hepatite B (HB)']]
vacinas_doses

      Ano  Hepatite A (HA)  Hepatite B (HB)
0    1994                0          2297035
1    1995                0          2521993
2    1996                0          2989325
3    1997                0          2002570
4    1998                0          8747762
5    1999                0         23190333
6    2000               38         16638758
7    2001            41062         35206019
8    2002            58788         30906741
9    2003            68883         24268775
10   2004            85271         17957275
11   2005           100081         17121491
12   2006            99674         15151634
13   2007           124675         14968382
14   2008           157642         14842513
15   2009           180828         14463524
16   2010           157154         14714865
17   2011           199190         16765900
18   2012           234009         18318371
19   2013           265185         24635982
20   2014          1908581         23954144
21   2015          2946868         21027638
22   2016          2222008         16726938
23   2017          2812314         17385956
24   2018          2645982         16810836
25   2019          2704209         15495072
26   2020          2360401         13716969
27   2021           852655          4413796
28  Total         20225498        447240597

In [6]:
#Usando a função 'limpa_vacinas_dados' para tratar os dados dos dois DataFrames
vacinas_cobertura = limpa_vacinas_dados(vacinas_cobertura, 'Cobertura_vacina_100Hab')
vacinas_doses = limpa_vacinas_dados(vacinas_doses, 'Doses_totais')

In [7]:
#Juntando od dois DataFrames em apenas 1 com base no 'Ano' e no 'virus'
vacinas = pd.merge(vacinas_cobertura,vacinas_doses, on=['Ano', 'virus'], how='outer')
vacinas

     Ano virus  Cobertura_vacina_100Hab  Doses_totais
0   1994     B                     8.85       2297035
1   1995     B                    10.50       2521993
2   1996     B                    16.50       2989325
3   1997     B                     5.79       2002570
4   1998     B                    12.63       8747762
5   1999     B                    83.50      23190333
6   2000     B                    91.08      16638758
7   2001     B                    91.88      35206019
8   2002     B                    91.47      30906741
9   2003     B                    92.00      24268775
10  2004     B                    96.26      17957275
11  2005     B                    98.46      17121491
12  2006     B                   100.30      15151634
13  2007     B                    99.89      14968382
14  2008     B                    96.06      14842513
15  2009     B                   100.20      14463524
16  2010     B                    96.08      14714865
17  2011     B                    97.71      16765900
18  2012     B                    96.67      18318371
19  2013     B                   100.56      24635982
20  2014     B                    96.42      23954144
21  2015     B                    97.74      21027638
22  2016     B                   105.19      16726938
23  2017     B                    84.40      17385956
24  2018     B                    88.53      16810836
25  2019     B                    70.77      15495072
26  2020     B                    76.94      13716969
27  1994     A                      NaN             0
28  1995     A                      NaN             0
29  1996     A                      NaN             0
30  1997     A                      NaN             0
31  1998     A                      NaN             0
32  1999     A                      NaN             0
33  2000     A                      NaN            38
34  2001     A                      NaN         41062
35  2002     A                      NaN         58788
36  2003     A                      NaN         68883
37  2004     A                      NaN         85271
38  2005     A                      NaN        100081
39  2006     A                      NaN         99674
40  2007     A                      NaN        124675
41  2008     A                      NaN        157642
42  2009     A                      NaN        180828
43  2010     A                      NaN        157154
44  2011     A                      NaN        199190
45  2012     A                      NaN        234009
46  2013     A                      NaN        265185
47  2014     A                    60.13       1908581
48  2015     A                    97.07       2946868
49  2016     A                    71.58       2222008
50  2017     A                    78.94       2812314
51  2018     A                    82.69       2645982
52  2019     A                    85.02       2704209
53  2020     A                    74.91       2360401

In [8]:
#Salvando os dados na pasta dados_tratados
vacinas.set_index('Ano').to_csv('../dados_tratados/vacinas_hep')